// Cursor pointer on all elements with the click attribute
[click]{ 
  cursor: pointer;
}

#nyProduktionCarousel .carousel-item img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}
#myCarousel .carousel-item img {
   height: 60vh;
   width: 100%;
   object-fit: cover;
}

 HEAD
.nyproduktion-facts p strong {
  display: inline-block;
  min-width: 80px;
}

.nyproduktion-line {                                        
  border-top: 1px solid #000;
  margin: 20px 200px 20px 0;
}


.search-dropdown {
  max-height: 300px;
  overflow-y: scroll;
}

.center_content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.stack-top{   
        position: absolute;
        z-index: 9;
        opacity: 0.9;
        background-color: #F8F8FF;
}
 






