// Cursor pointer on all elements with the click attribute
[click]{ 
  cursor: pointer;
}

#nyProduktionCarousel .carousel-item img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.nyproduktion-facts p strong {
  display: inline-block;
  min-width: 80px;
}

.nyproduktion-line {
  border-top: 1px solid #000;
  margin: 20px 200px 20px 0;
}