// Cursor pointer on all elements with the click attribute
[click] {
    cursor: pointer;
}

#nyProduktionCarousel .carousel-item img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

#myCarousel .carousel-item img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
}

HEAD .nyproduktion-facts p strong {
    display: inline-block;
    min-width: 80px;
}

.nyproduktion-line {
    border-top: 1px solid #000;
    margin: 20px 200px 20px 0;
}

.search-dropdown {
    max-height: 300px;
    overflow-y: scroll;
}

.center_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.stack-top {
    position: absolute;
    z-index: 9;
    opacity: 0.9;
    background-color: #F8F8FF;
}

.footer-bs {
    background-color: #ffffff;
    padding: 60px 40px 0px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top: 6px;
}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    padding: 10px 25px;
}

.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    border-color: transparent;
}

.footer-bs .footer-nav ul.pages {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-nav ul.pages li {
    padding: 5px 0px;
}

.footer-bs .footer-nav ul.pages a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
}

.footer-bs .footer-nav ul.pages a:hover {
    color: rgba(61, 61, 61, 0.8);
    text-decoration: none;
}

.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
    list-style: none;
    padding: 0px;
    font-weight: bold;
    text-transform: uppercase
}

.footer-bs .footer-nav ul.list li {
    padding: 5px 0px;
}

.footer-bs .footer-nav ul.list a {
    color: rgb(0, 0, 0);
}

.footer-bs .footer-nav ul.list a:hover {
    color: rgba(61, 61, 61, 0.6);
    text-decoration: none;
}

.footer-bs .footer-social ul {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer-bs .footer-social li {
    padding: 5px 4px;
}

.footer-bs .footer-social a {
    color: rgb(0, 0, 0);
}

.footer-bs .footer-social a:hover {
    color: rgba(104, 104, 104, 0.8);
    text-decoration: none;
}

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer-bs .footer-ns p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) {
    .footer-bs .footer-nav,
    .footer-bs .footer-social,
    .footer-bs .footer-ns {
        border-left: solid 1px rgba(0, 0, 0, 0.1);
    }
}

.start-page-search-holder {
    width: 30%;
    height: 20%;
    align-content: baseline;
}

.byggherre-img {
    height: 40vh;
    object-fit: cover;
}

.saljbostad-img {
    height: 50vh;
    object-fit: cover;
}

.köpabostad-img {
    height: 50vh;
    object-fit: cover;
}

.card-style {
    margin-top: 3000;
    padding-top: 100px;
}

.text-start-page {
    width: 400;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    padding: 40px 30px 60px 30px;
    border: 0.5px darkgray;
    border-radius: 25px;
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

//====== SideBorder css begins =======
.sidenav {      //Though it's called 'sidenav'; it is in fact the css code for the side border images
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 80px;
    background: transparent;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
  }

  @media screen and (max-width: 1750px) {
    .sidenav {
        margin-left: -40px;
    } 
  }

  @media screen and (max-width: 1650px) {
    .sidenav {
        margin-left: -60px;
    } 
  }

  @media screen and (max-width: 1550px) {
    .sidenav {
        margin-left: -70px;
    }
  }

  @media screen and (max-width: 1540px) {
    .sidenav {
        margin-left: -80px;
    }  
  }

  @media screen and (max-height: 800px) {
    .sidenav img{
        height: auto;
        margin-top: -40px;
         width: 170px;
        position: fixed;
        z-index: 1;
        top: 100px;
        left: 40px;
        background: transparent;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-top: 10px;
    }
  }

  

  @media screen and (max-width: 1520px) {  //when pixel width is less than 1520
    .sidenav {                             //change in .sidenav
        display: none;                     //to display nothing/disable the image
    }
  }

  .sidenav2 {       //Though it's called 'sidenav'; it is in fact the css code for the side border images
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 60px;
    right: 80px;
    background: transparent;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav2 {padding-top: 15px;}
  }

  @media screen and (max-width: 1750px) {
    .sidenav2 {
        margin-right: -40px;
    }
  }

  @media screen and (max-width: 1650px) {
    .sidenav2 {
        margin-right: -60px;
    }
  }

  @media screen and (max-width: 1550px) {
    .sidenav2 {
        margin-right: -70px;
    }
  }


  @media screen and (max-width: 1540px) {
    .sidenav2 {
        margin-left: -80px;
    }
  }

  @media screen and (max-width: 1520px) {
    .sidenav2 {
        display: none;
    }
  } 

  @media screen and (max-height: 800px) {
    .sidenav2 img{
        height: auto;
        margin-top: -40px;
         width: 170px;
        position: fixed;
        z-index: 1;
        top: 100px;
        right: 40px;
        background: transparent;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-top: 10px; 
    }
  } //====== SideBorder css ends =======

.form-control-new {
   position: relative;
    z-index: 2;
    float: left;
    width: 99%;
    margin-bottom: 0;
    margin-left: 3px;
    margin-right: 3px;
}

.form-textarea {
   position: relative;
    z-index: 2;
    float: left;
    width: 99%;
    margin-bottom: 0;
    margin-left: 3px;
    margin-right: 3px;
    width:99%;
    height:80px;
    border-color: lightgray;
}

.contact-form {
    padding-top:2px;
    padding-left: inherit;
    padding-right: inherit;
    padding-bottom:19px;
    width:99%;
    margin:auto;

    border: 0.5px darkgray;
    border-radius: 25px;
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-form-label {
    display:block;
    text-align:left;
    padding-left: 10px;
}

//collapse buttons for 'IntegrityPoliciy' begins
.CustomCollapseButton{
    background-color: rgb(223, 223, 223);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    margin-top: 10px;
    margin-bottom: -15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: transform .2s;  //Transition: transform takes 0.2 seconds
    overflow: hidden;
  }

  .CustomCollapseButton:hover {     //On hover:
    background-color: rgb(202, 202, 202);
    color: rgb(0, 0, 0);
    transform: scale(1.005);   //Transform: zoom in 100.5%
    overflow: hidden;          //Prevent collusion with drop down text window
    text-decoration: none;
  }
//collapse buttons for 'IntegrityPolicy' ends


//CSS for everything related to the navbar begins
.icon{        //dropdown icon
    background-color: rgb(255, 255, 255);       //give it white background
    color: rgb(255, 255, 255);                  //give it white color
    transition: transform .2s;                    //give it transition property; 'transform' with time span of 0.2seconds
    text-decoration: none;                        //remove underline from icon (This doesn't work)
}

.icon:hover{                    //When dropdown icon is being hovered
    transform: scale(0.90);     //transform it to the scale of 90% of its original size
}

.topnav{                                        //topnav which is the while navbar's body
    background-color: white;                  //topnav's body becomes white
    padding-top: 5px;                           //padding-top 5px to lower it slightly. This is done so that the "zoom on hover" works properly
    padding-bottom: 5px;                        //same goes to the padding-bottom. ^
    outline: 0.5px solid rgb(194, 194, 194);  //give topnav a half transparent, black, 0.5"pixel-thickness" outline to differentiate it from everything that is not the navbar
   
}

.topnav a{                      //topnav a
    color: rgb(0, 0, 0);      //gets a black color
}

.topnav a:active{                               //when 'topnav a' is active
    background-color: rgb(255, 255, 255);     //give background-color white
    color: black;                             //give color black
}

.topnav a:hover{                        //when 'topnav a' is hovered
    background-color: white;          //give background-color white
    color: black;                     //give color black
}

.nav-link{                                  //nav-link are the actual nav buttons such as 'Home', 'Kontakta oss', 'Om oss' etc
    background-color: white !important;   //give blackground-color white. make important
    color: black !important;              //give color black. make important
    transition: transform .2s;              //give property transition: transform with 0.2 seconds transition
    margin-top: 5px;                        //give nav-links a top margin of 5px
    margin-left: 70px;                      //give nav-links a left margin of 70px as default, so that it looks centered on a large screen
    
}
//manual responsiveness of nav-links begin
@media screen and (max-width: 1730px) {     //when screen's width is 1731px and above 
    .nav-link{                              //change in 'nav-link'
        margin-left: 50px;                  //give nav-link buttons a left margin of 50px 
    }
    
}

@media screen and (max-width: 1548px) {
    .nav-link{
        margin-left: 40px;
    }
    
}

@media screen and (max-width: 1458px) {
    .nav-link{
        margin-left: 30px;
    }
    
}

@media screen and (max-width: 1368px) {
    .nav-link{
        margin-left: 20px;
    }
    
}

@media screen and (max-width: 1278px) {
    .nav-link{
        margin-left: 10px;
    }
    
}

@media screen and (max-width: 1188px) {
    .nav-link{
        margin-left: 0px;
    }
    
}

@media screen and (max-width: 1098px) {
    .nav-link{
        margin-left: -10px;
    }
    
}

@media screen and (max-width: 1008px) {
    .nav-link{
        margin-left: -15px;
    }
    
}

@media screen and (max-width: 1000px) { //when screen width is 1000px and below
    .nav-link{                          //change in nav-link
        margin-left: 0px;               //give a left margin of 0px. This is done so that when the nav-link buttons changes into a dropdown menu; it will not look weird
    }
    
}

.nav-link:hover{                                            //when nav-link is being hovered
    transform: scale(1.10);                                 //transform button scale to 110% of its original size
    overflow: visible !important;                           //Overflow with everything else. make important.
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.205);     //give shadow to the buttons sides
}

.nav-link:active{                                           //when nav-link is actibe (when it is being currently clicked)
    transform: scale(1.05);                                 //transform button scale to 105% of its original size. This is done to give a nice bounce effect on the navlink when clicked
    overflow: visible !important;                           //Overflow with everything else. make important.
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.205);     //give shadow to the buttons sides
}

.nav-link a:active{                                         //^ same like above, but for nav-link a ^
    transform: scale(1.10);
    overflow: visible !important;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.205);
}

@media screen and (max-width: 1000px) {                         //when screen width is 1000 and below
    .nav-link{                                                  //change in 'nav-link' 
        background-color: white !important;                   //give background-color white. make important
        color: black !important;                              //give color black. make important
        transition: transform .1s;                              //give transition property transform with time span of 0.1second
    }
    .nav-link:hover{                                            //when nav-link is hovered
        transform: scale(1.005);                                //transform scale to 105%
        overflow: visible !important;                           //Overflow with everything else. make important.
        box-shadow: 1px 1px 1px 1px rgb(116, 116, 116);       //give shadow to the buttons sides
    }
}

.navbar-brand img{                  //navbar-brand img
    margin-left: 20px;              //give default left margin of 20px
    margin-right: -20px;            //give default right margin of -20px (this is done so that the nav-links don't get pushed away from the brand when moved to the right
    transition: transform .1s;      //give transition property transform with time span of 0.1second
}

.navbar-brand img:hover{            //when 'nav-bar img' hover
    transform: scale(1.10);         //transform the scale of the image to 110% of its original size
}

.navbar-brand img:active{           //when 'navbar-brand img' is active/clicked 
    transform: scale(0.90);         //transform button scale to 105% of its original size. This is done to give a nice bounce effect on the navlink when clicked
}

@media screen and (max-width: 1098px) {         //when sceen width is below 1098px 
    .navbar-brand img{                          //change in 'navbar-bran img'
        margin-left: 10px;                      //give left margin of 10px
        margin-right: -10px;                    //give right margin of -10px
    }
}

@media screen and (max-width: 1000px) {         //when screen width is below 1000 (this is the width when the dropdown menu appears)
    .navbar-brand img{                          //change in 'navbar-brand img'
        margin-left: 0px;                       //reset the margin
        margin-right: 0px;                      //reset the margin
    }
}
//CSS for everything related to the navbar ends



//img-thumbnail css begins

.img-thumbnail{
  margin-top: -20px;
  overflow: hidden;
  padding: 0px !important;
  box-sizing: border-box;
  position: relative;
}


//img-thumbnail css ends

.CustomTextWindow{
    font-size:18px;
    color:#ffffff;
    line-height:1.5;
    background-color: rgba(0, 0, 0, 0.315);
    margin-top: -82px;
    padding-left: 265px;
    padding-right: 265px;
    padding-top: 27px;
    padding-bottom: 18px;
    position: absolute;
}


//bostad navbar
.bostadNavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: white !important;                   //give background-color white. make important
    color: black !important;                              
    transition: transform .2s;
    outline: 0.5px solid rgb(194, 194, 194);
    height: 60px;
  }
  
 .bostadNavbar li {
    padding-top: 6px;
    float: left;
    margin-left: 80px;
  }
  
 .bostadNavbar li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: transform .1s;
  }
  
 .bostadNavbar li a:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.10);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.205);
  }
  
  a{
      background-color: black;
  }



  //CustomInvisibleButton for SokBostadPage list begins
.CustomInvisibleButton{
    background-color: rgba(255, 0, 0, 0);
    border-top: 100px;
    color: rgba(0, 0, 0, 0);
    left: -570px;
    padding-top: 101px;
    padding-bottom: 187px;
    padding-left: 300px;
    padding-right: 700px;
    text-align: center;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    transition: transform .2s;  //Transition: transform takes 0.2 seconds
    overflow: visible;
  }

  .CustomInvisibleButton:hover {     //On hover:
    background-color: rgba(255, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    transform: scale(1.005);   //Transform: zoom in 100.5%
    overflow: visible;          //Prevent collusion with drop down text window
    text-decoration: none;
    box-shadow: black;
  }
//CustomInvisibleButton for SokBostadPage list ends

  //CustomVisaButton for SokBostadPage list begins
  .CustomVisaButton{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    left: -570px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    transition: transform .2s;  //Transition: transform takes 0.2 seconds
    overflow: visible;
  }

  .CustomVisaButton:hover {     //On hover:
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: scale(1.10);   //Transform: zoom in 110%
    overflow: visible;          //Prevent collusion with drop down text window
    text-decoration: none;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.205);

  }

  .CustomVisaButton:active {     //On active/click:
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: scale(1.05);   //Transform: zoom in 100.5%
    overflow: visible;       
    text-decoration: none;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.205);

  }
//CustomVisaButton for SokBostadPage list ends